/software/chipShooter/exampleBoardData/board.bom.ods
/software/chipShooter/ReadMe~
/software/chipShooter/.~lock.board.bom.ods#
/software/chipShooter/board.bom.ods
/software/chipShooter/chipShooter.py~
/software/CAN_remote_programming/README~
/CANinterfacer/schematics/README~
/software/CAN_remote_programming/bootloader_python/util/__init__.pyc
/software/CAN_remote_programming/bootloader_python/util/intelhex.pyc
/software/CAN_remote_programming/bootloader_python/util/progressbar.pyc
/software/CAN_remote_programming/bootloader_mcp2515/build/bootloader.eep
/software/CAN_remote_programming/bootloader_mcp2515/build/bootloader.elf
/software/CAN_remote_programming/bootloader_mcp2515/build/bootloader.lss
/software/CAN_remote_programming/bootloader_mcp2515/build/bootloader.map
/software/CAN_remote_programming/bootloader_mcp2515/build/bootloader.sym
/software/CAN_remote_programming/bootloader_mcp2515/build/main.lst
/software/CAN_remote_programming/bootloader_mcp2515/build/main.o
/software/CAN_remote_programming/bootloader_mcp2515/build/mcp2515.lst
/software/CAN_remote_programming/bootloader_mcp2515/build/mcp2515.o
/software/CAN_remote_programming/bootloader_mcp2515/build/mcp2515_asm.lst
/software/CAN_remote_programming/bootloader_mcp2515/build/mcp2515_asm.o
/courseComputer/uC_firmware/gyroController/gyroController.pde~
